#{
    margin: 0%;
    padding: 0%;
    font-family: monospace;
}
header{margin: 1rem 4rem;
display:flex;
justify-content: space-between;
background-color: rgb(12, 20, 44);
border: .2rem;
color: rgb(30, 80, 124);
border-style: solid;
transition: all 0.5s;
}
header:hover{transform: scale(1.04);
}
.logo{
    height: fit-content;
}
.logo-img{height: 5rem;}
.nav{margin-right: 2rem;
display: flex;
align-items: center;
}
.nav_items{
    padding: 1rem;
    text-decoration: solid;
   color: rgb(30, 67, 99);
}
.home{
    text-decoration: none;
    color: rgb(195, 195, 240);
    font-size: larger;
}
.home:hover{
    color:  rgb(195, 195, 240);
}
.about{
    text-decoration: none;
    color: rgb(195, 195, 240);
    font-size: larger;
}
.about:hover{
    color: rgb(195, 195, 240);
}
.education{
    text-decoration: none;
    color: rgb(195, 195, 240);
    font-size: larger;
}
.education:hover{
    color:rgb(195, 195, 240);
}
.contacts{
    text-decoration: none;
    color: rgb(195, 195, 240);
    font-size: larger;
}
.contacts:hover{
    color: rgb(195, 195, 240);
}